# Firebase Hosting & config
.firebase/

# macOS
.DS_Store

# Logs
*.log
logs/

# Node (si jamais utilisé pour build ou test)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Fichiers d'environnement (jamais versionner vos secrets)
.env
.env.*
firebaseConfig.local.js
Assets/Js/firebaseConfig.js

firebaseConfig.js
Assets/Js/firebaseConfig.example.js
firebaseConfig.example.js

# Dossiers de build éventuels
dist/
build/

# Autres fichiers temporaires
*.swp
*.swo
*.tmp
*~
